{% load static %}

<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>商品详情</title>
		<script src="{% static 'js/jquery-1.12.0.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/jquery-1.8.0.min.js' %}"></script>
		<script src="{% static 'js/jquery.cookie.js' %}"></script>
        <script src="{% static 'js/goodsJs.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery.spinner.js' %}"></script>
        <link href="{% static 'css/goodsCss.css' %}"  rel="stylesheet" type="text/css"/>
{#	    <script src="{% static 'js/rename_img_src.js' %}"></script>#}
    </head>
    <body>

		    <div class="wrap_top">
			<div class="wrap_top_p">
				<a class="f1">收藏</a>
				<div class="f2">
					<a href="{% url 'HuiJiaYou:index' %}">首页</a>
					<a href="{% url 'HuiJiaYou:login' %}">请登录</a>
					<a href="{% url 'HuiJiaYou:register' %}">免费注册</a>
					<span>|</span>
					<font class="_font">购物车
						<a href="{% url 'HuiJiaYou:showCart' %}">0</a>件
					</font>
					<a>我的家有</a>
					<font class="_font">可用优惠券
						<a>0</a>张</font>
					<a>我的收藏</a>
					<span>|</span>
					<label class="iphone">
					<a id="f2_a1">手机版<div class="f1_div"><img style="width: 5px;height: 5px;display: block; position: absolute;top: -10px;" src="{% static 'img/biao.png' %}"><img src="{% static 'img/ewm011.jpg' %}"><em>惠家有APP</em></div></a>
				</label>
					<label class="wx">
					<a id="f2_a2">微信版<div class="f2_div"><img src="{% static 'img/ewm011.jpg' %}"><em>惠家有微信</em></div></a>
				</label>
				</div>
			</div>
		     <div class="head">
		     	<div class="head_top">
		     		<img src="{% static 'img/logo.png' %}">
		     		<div class="search">
		     			<input type="text " class="head_top_input">
		     		    <input type="button" class="head_top_buttom" value="搜索">
		     		    <p>
		     		    	<a id="active">洗衣液</a>
		     		    	<a>螺丝刀</a>
		     		    	<a>斧头牌</a>
		     		    	<a>韩束</a>
		     		    	<a>无痕内衣</a>
		     		    	<a>薰衣草</a>
		     		    	<a>双立人</a>
		     		    	<a>申鸿</a>
		     		    	<a>海参</a>
		     		    </p>
		     		</div>
		     		<div class="fr">
		     			<img src="{% static 'img/car.png' %}">
		     			<a href="{% url 'HuiJiaYou:showCart' %}">我的购物车
		     				<i>0</i>
		     			</a>
		     			<div class="ware">
		     				<img src="{% static 'img/car2.png' %}">
		     				<p>购物车中还没有商品，赶紧去选购吧</p>
		     			</div>
		     		</div>
		     	</div>
                 <div class="head_bottom">

                 	<span id="navlist">
                 		全部商品分类
                 		<div class="navlists" style="display: none;">
                 			<a href="#">海外购</a>
                 			<a href="#">生活电器</a>
                 			<a href="#">品质厨房</a>
                 				<a href="#">厨房电器</a>
                 				<a href="#">生活家居</a>
                 				<a href="#">家纺</a>
                 				<a href="#">服装服饰</a>
                 				<a href="#">箱包配饰</a>
                 				<a href="#">美妆个护</a>
                            	<a href="#">食品饮料</a>
                 		       	<a href="#">运动健康</a>
                 		       		<a href="#">3c数码</a>
                 		       			<a href="#">宠物用法</a>
                 		       			<span href="#" class="last_a"></span>
                 		</div>
                 	</span>
                    <ul class="navlists_ul">
                    	<li><a href="{% url 'HuiJiaYou:index' %}">首页</a></li>
                    	<li><a href="#">TV直播</a></li>
                    	<li><a href="#">品牌惠</a></li>
                    	<li><a href="#">惠家有APP</a></li>
                    	<li><a href="#">家有尊享</a></li>

                    </ul>


                 	</div>
		     </div>






	       <div class="main">
	       	<div class="details">
	       		<h2><a>全部商品</a></h2>
	       		<div class="show">
	       			<div class="show_left">
	       				<div class="small">
	       					<a></a>
	       					<div>
	       						<ul id="small_ul">
	       							<li class="ul1">

	       							</li>
	       							<li class="ul2">

	       							</li>
	       							<li class="ul3">

	       							</li>
	       							<li class="ul4">

	       							</li>
	       							<li class="ul5">

	       							</li>
	       							<li class="ul6">

	       							</li>
	       						</ul>
	       					</div>
	       					<a></a>
	       				</div>
	       				<div class="big" id="smallImg">
	       					<div id="smallArea" style="width: 150px; height: 150px;"></div>
	       				</div>
	       			    <div id="bigArea" style="">
	    	                <img id="bigImg" src="{% static '' %}">
	                	</div>
	       			</div>
	       			<div class="show_right">
	       				<div class="buy">
	       					<p class="price">
	       					</p>
	       				    <p class="num">
	       				    	<b>商品编号</b>
	       				    	<span>147612</span>
	       				    </p>
	       				    <p class="shou">
	       				    	<b>月销</b>
	       				    	<span>256件</span>
	       				    </p>
	       				    <p class="gift">
	       				    	<b>促销</b>
	       				    	<span>
	       				    		<label>
	       				    			<i>赠品</i>
	       				    			<font><a>赠品营销韩束雪莲花补水喷雾;</a></font>
	       				    		</label>
	       				    	    <label id="label2">
	       				    	    	<i>特价</i>
	       				    	    </label>
	       				    	</span>
	       				    </p>
	       				    <p class="option">
	       				    	<b>颜色</b>
	       				    	<font>
	       				    		<a>共同</a>
	       				    	</font>
	       				    </p>
	       				     <p class="option">
	       				    	<b>款式</b>
	       				    	<font>
	       				    		<a>女-160</a>
	       				    		<a>女-165</a>
	       				    		<a>女-170</a>
	       				    	</font>
	       				    </p>



	       				    <b id="spinner_b">购买数量</b>
	       				    <input type="text" class="spinnerExample" id="spinnerExample" value="1">
	       				    <p id="showp" style="display: none; width: 100px;height: 22px;color: red; position: relative;top: -22px;left: 150px;font-size: 12px;line-height: 22px;">数量不能为空</p>




	       				     <p class="list">
	       				     	<span class="s1">正品保障</span>
	       				     	<span class="s2">全场包邮</span>
	       				     	<span class="s3">7天包退换（内衣.生鲜特殊商品除外）</span>
	       				     </p>
	       				     <div class="btn">
	       				     	<a class="a1" id="closing">立即购买</a>
	       				     	<a class="a2" id="AddCar">加入购物车</a>
	       				     	<span>收藏</span>
	       				     </div>
	       				</div>
	       			</div>
	       		</div>
	       		<div class="content">
	       			<ul class="hd">
	       				<li class="hd_li1">商品详情</li>
	       				<li class="hd_li2">规格参数</li>
	       			</ul>
	       		    <div class="bd">
	       		    	<div class="bd_img">
	       		    		<span class="picture">
	       		    			<img src="{% static 'img/96.jpg' %}">
	       		    			<img src="{% static 'img/97.jpg' %}">
	       		    			<img src="{% static 'img/98.jpg' %}">
	       		    			<img src="{% static 'img/99.jpg' %}">
	       		    			<img src="{% static 'img/100.jpg' %}">
	       		    			<img src="{% static 'img/101.jpg' %}">
	       		    			<img src="{% static 'img/102.jpg' %}">
	       		    			<img src="{% static 'img/103.jpg' %}">
	       		    			<img src="{% static 'img/104.jpg' %}">
	       		    			<img src="{% static 'img/105.jpg' %}">
	       		    			<img src="{% static 'img/106.jpg' %}">
	       		    			<img src="{% static 'img/107.jpg' %}">
	       		    			<img src="{% static 'img/108.jpg' %}">
	       		    			<img src="{% static 'img/109.jpg' %}">
	       		    			<img src="{% static 'img/110.jpg' %}">
	       		    			<img src="{% static 'img/111.jpg' %}">
	       		    			<img src="{% static 'img/112.jpg' %}">
	       		    			<img src="{% static 'img/113.jpg' %}">
	       		    			<img src="{% static 'img/114.jpg' %}">
	       		    			<img src="{% static 'img/115.jpg' %}">
	       		    		</span>
	       		    	</div>
	       		    </div>
	       		</div>
	       	</div>
	       </div>






	       <div class="footer">
		     	<ul class="warrant">
		     		<li>
		     			<img src="{% static 'img/buttom0.png' %}">
		     			<b>100%正品保障</b>
		     			<i>质量有保障</i>
		     		</li>
		     		<li>
		     			<img src="{% static 'img/buttom2.png' %}">
		     			<b>在线支付 全场包邮</b>
		     			<i>送货上门</i>
		     		</li>
		     		<li>
		     			<img src="{% static 'img/buttom3.png' %}">
		     			<b>支持银联刷卡付款</b>
		     			<i>付款更安全</i>
		     		</li>
		     		<li>
		     			<img src="{% static 'img/buttom4.png' %}">
		     			<b>货到付款 开箱验货</b>
		     			<i>满意才收货</i>
		     		</li>
		     		<li>
		     			<img src="{% static 'img/buttom5.png' %}">
		     			<b>7x24小时人工服务</b>
		     			<i>微笑无时无刻 4008-678-210</i>
		     		</li>
		     	</ul>
		        <div class="foote">
		        	<div class="foote_left">
		        		<dl>
		        			<dt>
		        				<a href="#">关于我们</a>
		        				</dt><dd><a href="#">公司介绍</a></dd>
		        				<dd><a href="#">招聘信息</a></dd>
		        				<dd><a href="#">联系我们</a></dd>
		        				<dd><a href="#">用户隐私条款</a></dd>

		        		</dl>
		        	    <dl>
		        	    	<dt>
		        	    		<a href="#">订购指南</a>
		        	    		</dt><dd><a href="#">交易条款</a></dd>
		        	    		<dd><a href="#">注册/购物流程</a></dd>
		        	    		<dd><a href="#">退/换货</a></dd>
		        	    		<dd><a href="#">积分说明</a></dd>
		        	    		<dd><a href="#">发票指南</a></dd>
		        	    		<dd><a href="#">会员制度说明</a></dd>

		        	    </dl>
		        	    <dl>
		        	    	<dt>
		        	    		<a href="#">配送服务</a>
		        	    		</dt><dd><a href="#">配送区域</a></dd>
		        	    		<dd><a href="#">配送时间</a></dd>
		        	    		<dd><a href="#">验货与签收</a></dd>


		        	    </dl>
		        	    <dl>
		        	    	<dt>
		        	    		<a href="#">支付方式</a>
		        	    		</dt><dd><a href="#">网上支付</a></dd>
		        	    		<dd><a href="#">货到付款</a></dd>

		        	    </dl>
		        	    <dl>
		        	    	<dt>
		        	    		<a href="#">合作专区</a>
		        	    		</dt><dd><a href="#">成为供应商</a></dd>
		        	    		<dd><a href="#">供应商系统</a></dd>
		        	    		<dd><a href="#">合作伙伴</a></dd>

		        	    </dl>
		        	</div>
		        	<div class="foote_right">
		        		<ul>
		        			<li>
		        				<img src="{% static 'img/ewm011.jpg' %}">
		        				惠家有APP
		        			</li>
		        			<li>
		        				<img src="{% static 'img/ewm022.jpg' %}">
		        				惠家有微信
		        			</li>
		        		</ul>
		        	    <p> <img src="{% static 'img/buttom_ph.png' %}">
		        	    	<b>4008-678-210</b>
		        	    	<i>客服 7X24小时  (全年无休)</i>
		        	    </p>
		        	</div>
		        </div>
		        <div class="foot">
		        	<div class="smallfoot">
		        		<p>友情链接:
		        			<a href="http://www.sj001.com/" target="_blank" num="202051-1"> 南京手机报价</a>
		        			<a href="http://www.e.cn" target="_blank" num="202051-2">竞拍</a>
		        			<a href="http://www.aolaigo.com/ " target="_blank" num="202051-3">奥莱购</a>
		        			<a href="http://wiki.smzdm.com/" target="_blank" num="202051-4">商品百科</a>
		        		</p>
		        	     <p>
		        	     	Copyright © 2008-2013 huijiayou.cn
		        	     	<a num="202050-31">家有购物集团有限公司北京分公司</a>
		        	     	 版权所有 黔ICP备13002365号  增值电信业务经营许可证：黔B2-20120036
		        	     </p>
		        	</div>

		        </div>
		     </div>
		     <ul class="drift">
		     	<li class="li_1">

		     		<a href="#">
		     			<img src="{% static 'img/slide1.png' %}">
		     			<div class="drift_1">
		     				<img src="{% static 'img/ewm011.jpg' %}">
		     			<em>惠家有APP</em>
		     			</div>

		     		</a>
		     	</li>
		     	<li class="li_2">

		     		<a href="#">
		     			<img src="{% static 'img/slide2.png' %}">
		     			<div class="drift_2">
		     			<img src="{% static 'img/ewm022.jpg' %}">
		     			<em>惠家有微信</em>
		     			</div>
		     		</a>
		     	</li>
		     	<li class="li_3">

		     		<a href="#">
		     			<img src="{% static 'img/slide3.png' %}">
		     		</a>
		     		</li>
		     		<a href="#">
		     			<img class="drift_img" src="{% static 'img/slide4.png' %}">
		     		</a>



</ul></div>
    </body>
</html>
